<div class="container">
  <div class="row columns">
    <div id="iface">
      <input type="text" id="message" placeholder="Your chat message here..." [(ngModel)]="msg" #message>
      <input type="submit" class="submit" value="Send" (click)="send(message.value)">

      <div class="details-container" *ngFor = "let item of items | async; let i = index">
        <div class="row">
          <div class="medium-9 columns">
            <div *ngIf="(editId == i) && editMsg; then showEdit else showMsg"></div>
              <ng-template #showEdit>
                <input type="text" value="{{item.message}}" (keyup.enter)="edit(item.$key, $event.target.value)">
              </ng-template>
              <ng-template #showMsg>
              <p>{{item.message}}</p>
              </ng-template>
        </div>
          <div class="medium-3 columns">
            <button (click)="(editMsg = true) && editId = i">Edit</button>
            <button (click)="delete(item.$key)">Delete</button>
          </div>
        </div>
      </div>

      <!--<div class="details-container">-->
        <!--<div class="row">-->
          <!--<div class="medium-9 columns">-->
            <!--<input type="text" value="">-->
          <!--</div>-->
          <!--<div class="medium-3 columns">-->
            <!--<button>Edit</button>-->
            <!--<button>Delete</button>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

    </div>
  </div>
</div>
