#iface {
  background : #ebf2f2 ;
  width : 100%;
}

input#message {
  background : #384445;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 1em;
  padding: 1.2em .7em;
  color: #94aaac;
  width: 80%;
  float: left;
}

input.submit {
  background: #00a8b6;
  color: #fff;
  width: 20%;
  float: right;
  font-size: 1.2em;
  padding: 1.04em .7em;
  border: none;
  cursor: pointer;
}

.details-container {
  background: #fff ;
  width: 100%;
  margin-bottom: 5px;
  border-left : 6px solid #00a8b6;
  display: block;
  padding: 1.4em;
  clear: both;
}

.details-container p{
  margin-bottom: 0;
}

button {
  background: #d4e0e1;
  color:#465057;
  padding:10px;
  width: auto;
  margin: 0 0 0 20px;
  float: right;
  font-size: .8em;
}
